{% extends "saloninventory/layout.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block body %}
  <style>
    table,
    th,
    td {
      border: 1px solid rgb(255, 255, 255);
    }
  </style>
  <h2 style="text-align: center">{{ request.user.email }}</h2>
  <div
    id="indexdiv"
    style="text-align: center; margin-left: auto; margin-right: auto"
  >
    <div id="itemAmount" name = "{{page_items}}" class="text-center">
      <figcaption class="blockquote-header">
        Sales of <cite title="Source Title">{{request.user.first_name}}</cite>
      </figcaption>
      <blockquote class="blockquote"></blockquote>
      {% for sale in page_obj.object_list %}

      <div
        class="card border-success mb-3"
        style="
          max-width: 20rem;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        "
      >
        <div class="header">{{request.user.first_name}}.</div>
        <table>
          {{sale.Sold_html|safe}}
        </table>
        <div class="footer">
          {%for date in sale.Sale_date%} {{date.date}}{% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div style="
          max-width: fit-content;
          margin-left: auto;
          margin-right: auto;
        ">
      <ul class="pagination" >
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a href="?page=1" class="page-link">&laquo;</a>
        </li>
        <li class="page-item">
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link"
          >Previous</a>
        </li>
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link"
          >{{ page_obj.previous_page_number }}</a
        >
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo; </a>
        </li>

        {% endif %}

        <li class="page-item active">
          <a class="page-link" href="#">{{ page_obj.number }}</a>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}"
            >{{ page_obj.next_page_number }}</a
          >
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}"
            >Next</a
          >
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
            &raquo;</a
          >
        </li>
        {%else%}
        <li class="page-item disabled">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
            &raquo;</a
          >
        </li>

        {% endif %}
      </ul>
    </div>
  </div>

  {% block script %}
  <script type="text/javascript">
    var y = document.getElementById("itemAmount").getAttribute("name")
    if(y=="0"){
    alert(
      "Welcome to the Salon App\n\n" +
        "For this App to work you must do the following steps:\n"+
        "\t• Step 1 : use Add Products or Add Services to your inventory \n" +
        "\t• Step 2 : Go to New Sale and fill the cart and place order \n" +
        "\t• Step 3(optional) : Modify products in My Inventory\n\n" 
        
    );}
    
  </script>

  {% endblock %} {% endblock %}
</html>
