{% extends "saloninventory/layout.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block body %}
    <style>
    table, th, td {
      border: 1px solid black;
    }
    </style>
  <h2 style="text-align: center">{{ request.user.email }}</h2>
  <div id="indexdiv" style="text-align: center; margin-left: auto;
    margin-right: auto;">

<div class="text-center">
  <blockquote class="blockquote">
    <p class="mb-0">{{page_obj.object_list.Sale}}</p>
  
  </blockquote>
  <figcaption class="blockquote-footer">
    Someone famous in <cite title="Source Title">Source Title</cite>
  </figcaption>
</div>

</div>

  
  {% block script %}
  <script
    type="text/javascript"
    src="{% static 'saloninventory/index.js' %}"
    
  >
  console.log({{page_obj}})</script>
  {% endblock %} {% endblock %}
</html>
