{% extends "saloninventory/layout.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  
  {% block body %}
  This is The page.
  <button id="showproduct" class="btn btn-primary">Add Product</button>
    <button id="showservice" class="btn btn-secondary">Add Service</button><br>
  <div id="cartproduct-view" style="display: block;">
    
    <label for="products" style="text-align: center; margin: auto"><br>Select a product:<br></label>
    <select name="products" id="products" class="btn btn-light" onchange="setMax()"></select><br>
    <label for="productAmount" style="text-align: center; margin: auto">Amount of oz or ml</label>
    <input
      style="text-align: center; max-width: 40rem; margin: auto"
      autofocus
      min="1"
      
      class="form-control"
      type="number"
      id="productAmount"      
    /><br>
    
    <button id="productCart" class="btn btn-primary">Add To Cart</button>
    
  </div>
  <div id="cartservice-view" style="display: none;">
    <label for="services">Select a service:</label>
    <select name="services" id="services" class="btn btn-light"></select>
    <button id="serviceCart" class="btn btn-primary">Add To Cart</button>
  </div>
  {% block script %}
  
  <script
    type="text/javascript"
    src="{% static 'saloninventory/newsale.js' %}"
  ></script>
  {% endblock %} {% endblock %}
</html>
