{% extends "saloninventory/layout.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  
  {% block body %}
  <style>
    table, th, td {
      border: 1px solid black;
    }
    </style>
  <button id="showproduct">Add Product</button>
  <button id="showservice">Add Service</button>
  <div id="cartproduct-view" style="display: none;">
    
    <label for="products">Select a product:</label>
    <select name="products" id="products"></select><br>
    <lable for="productAmount" style="text-align: center; margin: auto">Amount of oz or ml</lable>
    <input
      style="text-align: center; max-width: 40rem; margin: auto"
      autofocus
      min="1"
      value="1"
      class="form-control"
      type="number"
      id="productAmount"      
    /><br>
    
    <button id="productCart" class="btn btn-primary">Add To Cart</button>
    
  </div>
  <div id="cartservice-view" style="display: none;">
    <label for="services">Select a service:</label>
    <select name="services" id="services"></select>
    <button id="serviceCart" class="btn btn-primary">Add To Cart</button>
  </div>
  <div id="cartList">
    <table id="Cart">
      <tr>
            <th>Product or Service</th>
            <th>Price per oz/ml</th>
            <th>Amount oz/ml</th>
            <th>This Sale</th>
      </tr>
    </table>
    <div><button id="emptycart" class="btn btn-danger" style="display: inline;">Empty Cart</button>  
    {% csrf_token %}
    <button id="placeOrder" class="btn btn-success" style="display: inline;">Place Order</button></div>
  </div>

  {% block script %}
  <script
    type="text/javascript"
    src="{% static 'saloninventory/newsale.js' %}"
  ></script>
  {% endblock %} {% endblock %}
</html>
